<div class="container">

  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="http://ossmeng.oss-cn-hangzhou.aliyuncs.com/mengmeng/logo/logo-no-domain1.png">
        <span class="title">盟盟</span>
      </div>
      <div class="desc">欢迎来到盟盟后台管理系统</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i class="anticon anticon-copyright"></i> 2019
      <a href="javascript:;" target="_blank">雷默</a>出品
    </global-footer>
  </div>
</div>
