<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
      <button (click)="getpage()" nz-button nzType="primary">刷新</button>
    <!-- <button (click)="add()" nz-button nzType="primary">新建</button> -->
  </ng-template>
</page-header>
<nz-card>
  <sf mode="search" #sf [schema]="searchSchema" (formSubmit)="search($event)" (formReset)="reset()"></sf>
  <st #st (change)="change($event)" [data]="pageData.data" ps="20" [total]="pageData.total" [columns]="columns" [page]="{placement:'center',front:false}">

      <ng-template st-row="{{t}}" let-item *ngFor="let t of ['companyName','brandName']; let i=index;">
          <nz-tooltip [nzTitle]="item[t] | showDetaiOrOn">
            <span nz-tooltip>{{ item[t] | wordLimit:43 }}</span>
          </nz-tooltip>
      </ng-template>
  </st>
</nz-card>
