<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button nz-button nzType="primary" (click)="st.reload()">刷新</button>
    <button nz-button nzType="primary" (click)="add({})">添加</button>
  </ng-template>
</page-header>
<nz-card>
  <sf #sf mode="search" [schema]="searchSchema" (formSubmit)="search($event)" (formReset)="reset()"></sf>
  <st #st [data]="pageData.data" [total]="pageData.total" [columns]="columns" ps="20" [page]="{placement:'center',front:false}"
  (change)="change($event)">
  <!-- <div *ngFor="let t of ['name','brandName','address']; let i=index;">
    <ng-template let-item st-row="{{'custom'+i}}" >
      <nz-tooltip [nzTitle]="item[['name','brandName','address'][i]]">
        <span nz-tooltip>{{item[['name','brandName','address'][i]] | wordLimit}}</span>
      </nz-tooltip>
    </ng-template>
  </div> -->
  <ng-template st-row="{{t}}" let-item *ngFor="let t of ['name','brandName','address']; let i=index;">
    <nz-tooltip [nzTitle]="item[t] | showDetaiOrOn">
      <span nz-tooltip>{{ item[t] | wordLimit }}</span>
    </nz-tooltip>
  </ng-template>

  <ng-template st-row="logo" let-item>
      <img [src]="item.logo?item.logo:''" (click)="viewImgService.checkImg(item.logo)" [ngClass]="{'my-img': true}" alt="">
    </ng-template>
</st>
</nz-card>


