<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button nz-button nzType="primary" (click)="st.reload()">刷新</button>
    <button nz-button nzType="primary" (click)="add()">新增</button>
  </ng-template>
</page-header>
<nz-card>
  <sf #sf mode="search" [schema]="searchSchema" (formSubmit)="search($event)" (formReset)="st.reset()"></sf>
  <st #st [data]="pageData.data" [total]="pageData.total" [columns]="columns" ps="20" [page]="{placement:'center',front:false}"
  (change)="change($event)"></st>
</nz-card>
